// Variable Overrides
$red: #e3444c;

$primary: $red;
$brand-primary: $red;
$link-color: $red;

// Change hyperlink color

a {
    color: $red;
}

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";


// Change H2 font color red

.h2{
    font-family: Cambo;
}

/* .invalid CSS class instead or pseudo selector */
input.invalid {
    border-color: $red;
  }

// Make the hover boxes text white
.unit-4:hover {
    color: white;
}

// Getting rid of horizontal scrolling
body{
    overflow-x:hidden;
    }